# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/
ENV/
env/
.venv/

# IDEs and editor folders
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Python bytecode / compiled objects
*.so
*.dll
*.o 
*.a
*.out


# FAISS or Chroma vector store data
chroma_golden_faiss/
chroma_scraped_faiss/
faiss_video/
faiss_golden/
faiss_scraped/

# Uploaded or scraped raw data
uploads/
video_upload/
scraped_data/

# Environment variables
.env

# Streamlit cache (optional)
.streamlit/
__pycache__/

# Output files or temp dumps
*.tmp
*.bak
