streamlit
langchain
langchain-community
langchain-core
langchainhub
langchain-together
openai
python-dotenv
chromadb
pdfplumber
python-pptx
python-docx
tavily-python
sentence-transformers
whisper
requests
beautifulsoup4
yt-dlp
whisper
pytube
openai-whisper
faiss-cpu
